.title-section {
    background-color: rgba(179, 172, 172, 0.145);
}

.cart_style {
    padding: 0.5%;
    width: 2.5vw;
}

.card-count{
    color: rgb(114, 114, 114);
    font-size: 1rem;
}

.card-count button{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 1px black solid;
    margin: 10px;
    width: 2vw;
}